# Used for nuxt image component
NUXT_IMAGE_DOMAINS=

# Used for generating OG when sharing the site link
NUXT_OG_IMAGE_SECRET=

# Used for submitting forms
NUXT_PUBLIC_FORM_SUBMIT=

# Used for analytics tracking
NUXT_PUBLIC_SCRIPTS_UMAMI_ANALYTICS_WEBSITE_ID=
